@model IEnumerable<JungleGallery.Models.ProjectAsset>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.Raw(item.Details)
            </td>
            <td>                
                <img src="@Url.Content(item.Location)" alt="Image" width="100" height="100" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectAssetID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProjectAssetID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectAssetID })
            </td>
        </tr>
    }

</table>
